#thumbBar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    padding: 40px;
    clip-path: circle(calc(50% - 40px));
    --_p: 100px;
    --_g1: radial-gradient(50% 50%,#e71e24 90%,#0000); /* couleur 1 */
    --_g2: radial-gradient(50% 50%,#fcc010 90%,#0000); /* couleur 2 */
    --_g3: radial-gradient(50% 50%,#85c341 90%,#0000); /* couleur 3 */
    --_g4: radial-gradient(50% 50%,#eb2288 90%,#0000); /* couleur 4 */
    background:
        var(--_g1) calc(20% - var(--_p)) calc(20% - var(--_p)),
        var(--_g2) calc(80% + var(--_p)) calc(10% - var(--_p)),
        var(--_g3) calc(80% + var(--_p)) calc(80% + var(--_p)),
        var(--_g3) 55%                   calc(12% - var(--_p)),
        var(--_g1) calc(18% - var(--_p)) calc(88% + var(--_p)),
        var(--_g2) calc(10% - var(--_p)) calc(70% + var(--_p)),
        var(--_g2) calc(88% + var(--_p)) 40%,
        var(--_g1) calc(82% + var(--_p)) calc(28% - var(--_p)),
        var(--_g4) calc(12% - var(--_p)) 30%,
        var(--_g4) 65%                   calc(85% + var(--_p)),
        var(--_g3) calc(20% - var(--_p)) calc(10% - var(--_p)),
        var(--_g4) calc(30% - var(--_p)) calc(85% + var(--_p));
    background-size: 10px 10px, 15px 15px, 20px 20px;
    background-repeat: no-repeat;
    filter: grayscale(80%);
    transition: .5s;
}

#thumbBar img:hover {
    filter: grayscale(0%);
    clip-path: circle(50%);
    --_p: 0px;
}



body {
    margin: 0;
    min-height: 100vh;
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#thumbBar {
    margin-top: 20px;
    text-align: center;
}


#preview {
    text-align: center;
    margin-top: 20px;
}

.displayedImg {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 10px solid #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 60px #ffffff6e;
}

.btn_burly {
    background-color: rgb(127, 255, 0);
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin:  30px auto;
    cursor: pointer;
    display: block;
    border : none;    


}

.btn_burly:hover {
    background-color: rgba(255, 221, 0, 0.893);;
}

h1{
    color: chartreuse;
}